<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New comment', new_comment_path %>