<% if !logged_in? %>
  <div class="hero-unit">
    <h1>Welcome to Post-It!</h1>
    <p>This is a basic <a href="http://www.reddit.com">reddit clone</a> for the <a href="http://www.gotealeaf.com">Tealeaf Academy Ruby on Rails 4 course </a>by <a href="http://www.thaczuk.com">Greg Thaczuk.</a></p>
    <p>
      <%= link_to 'Register', register_path, class: 'btn btn-primary btn-large' %>
    </p>
  </div>
<% end %>